@import 'libs/reset';
@import 'libs/fonts';

@import 'base/variables';
@import 'base/mixins';

@import 'blocks/header';
@import 'blocks/first';
@import 'blocks/article';
@import 'blocks/footer';

* {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.778;
}

main, footer {
    background-color: $bg-color;
}

.container {
    max-width: 1492px;
    padding: 0 15px;
    margin: 0 auto;
}

.subtitle {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.222;
    color: $second-text-color;
    text-transform: uppercase;
    letter-spacing: 6px;
    position: relative;
    padding: 0 0 0 96px;
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 72px;
        height: 2px;
        background: $second-text-color;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &__first {
        padding: 0 0 0 104px;
    }
}

.logo {
    a {
        position: relative;
        font-family: 'Playfair Display', serif;
        font-size: 32px;
        line-height: 1.188;
        text-transform: uppercase;
        color: $main-text-color;
        letter-spacing: 0.01em;
        text-decoration: none;
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            z-index: 10;
            left: 0;
            transform: translateY(5px);
            height: 2px;
            background-color: $second-text-color;
            opacity: 0;
            transition: transform 0.7s ease 0s;
        }
        &:hover::after {
            transform: translateY(-3px);
            opacity: 1;
        }
    }
    &__header, &__footer {
        a {
            transition: color 0.3s ease 0s;
            &:hover {
                color: $second-text-color;
            }
        }
    }   
}

.no-scroll {
    overflow-y: hidden;
}

@import 'blocks/media';